/* TODO: Add sitewide styles */
body {
  background-color: rgb(238, 238, 175);
  font-family: Helvetica, sans-serif
}

.error {
  color: red
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;;
}